@import url('https://fonts.googleapis.com/css?family=Hind&display=swap');


* {
    background-color: #15191f;
    color: white;
    max-width: 800px;
    justify-content: center;
    text-align: center;
    font-family: 'Hind', sans-serif;
    margin: 0 auto;
}

.search {
    width: 100% ;
    color: #F2EEF7;
    background-color: #15191f;
    padding: 0;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.border {
    border-style: none;
    border-bottom: 1px solid #F2EEF7;
}


.flex{
    display: flex;
    justify-content: space-around;
    
}
.wrap{
    flex-wrap: wrap;
}
.classCard{
    width: 10%;
    /* font-weight: bold; */
    padding: 1px;
    margin: 2px;
}
.inverse{
    color: #15191f;
    background-color:#F2EEF7;
}
.card{
    max-width: 60%;
    padding: 10px 4px;
}

.profile{
    width: 40%;
}

.classImg{
    width:40px
}
.friends{
    width: 100%;
    border-top: 2px #15191f solid;
    justify-content: space-between;
}
.friendsList{
    flex-direction: column;
    padding: 0;
}

.imgFriend{
    width: 120px;
    padding: 0;
    margin: 0;
}


.textLeft{
    text-align: left;
}

.padding-top{
    padding-top: 20px
}